.home-header
{
	background: #ff9900;	
}
.logo
{
	height: 40px;
	margin: 20px;
}
.home-header .row
{
	padding-top: 10%;
	padding-bottom: 15%;
}
.promo-text-box
{
	margin-top: 15%;
}
.promo-text-box h1
{
	margin-bottom: 25px;
}